html,body,div,h1,h3,ul,li,p,img,hr,select,button,input{margin:0;padding:0;}
html{
	width: 100%;
}
body{
	width: 100%;
	min-width: 1280px;
}
.clearFloat{
	width: 100%;
	height: 0px;
	clear: both;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}