body,div{margin:0;padding:0}
body{
	padding:20px;
	}
.outer{
	padding:10px;
	box-sizing:border-box;
	}
.inner{
	width:100%;
	height:50px;
	background:#eee;
	border:2px solid #999;
	}
#container{
	height:500px;
	border:2px solid #999;
	padding:10px;
	}
.leftFloat{
	float:left;
	}
.rightFloat{
	float:right;
	}
@media screen and (min-width:768px){
	.col-md-1{
		width:8.33%;
		}
	.col-md-2{
		width:16.67%;
		}
	.col-md-3{
		width:25%;
		}
	.col-md-4{
		width:33.333%;
		}
	.col-md-6{
		width:50%;
		}
	.col-me-8{
		width:66.667%
		}
	.col-md-12{
		width:100%
		}
	}
@media screen and (max-width:767px){
	.col-sm-1{
		width:8.33%;
		}
	.col-sm-2{
		width:16.67%;
		}
	.col-sm-3{
		width:25%;
		}
	.col-sm-4{
		width:33.333%;
		}
	.col-sm-6{
		width:50%;
		}
	.col-sm-8{
		width:66.66%
		}
	.col-sm-12{
		width:100%
		}
	}