*{
	font-family: 'Microsoft YaHei'
}

header p{
	font-size: 21px;
	color: #393a3a;
}
header a{
	font-size: 14px;
	color: #787b83;
}

#section-1 .wrapper{
	color: #FCFFFC;
}
#section-1 .wrapper p:first-child{
	font-size: 60px;
	font-weight: normal;
}
#section-1 p{
	font-size: 21px;
	line-height:37px;
	color:  #FCFFFC;
}
#section-1 a{
	font-size: 30px;
	letter-spacing: 3px;
	text-decoration: none;
	color: #FCFFFC;
}

#section-2 li{
	font-family: 'SimHei';
	font-size: 14px;
	color: #767777;
}
#section-3 p{
	font-size: 53px;
	color: #323333;
}

#section-4 p{
	color: #FFF;
}
#section-4 p:first-child{
	font-size: 21px;
}
#section-4 p:nth-child(3){
	font-size: 12px;
}
#section-4 select,button{
	font-size: 12px;
	color: #a8aaaa;
}
#section-5 p{
	font-size: 12px;
	line-height:30px;
	color: #a8aaaa;
}
#section-5 span{
	font-size: 15px;
	color: #000;
}
#section-5 strong{
	font-size: 24px;
	font-weight: normal;
	letter-spacing: 40px;
}
#section-6 .left{
	color: #FFF;
}
#section-6 .left h3{
	font-size: 50px;
	font-weight: normal;
}
#section-6 .left h1{
	font-size: 158px;
}
#section-6 .left p{
	font-size: 22px;
	line-height: 43px;
}
#section-6 .right h1{
	font-size: 22px;
	font-weight: normal;
}
#section-6 .right h1 span{
	color: #E74F4D;
}
#section-6 .right p{
	font-size: 12px;
	line-height: 30px;
	color:  #a8aaaa;
}
#section-6 .right a{
	font-size: 12px;
	color: #e25c60;
}
#section-7{
	font-family: 'SimHei';
	font-size: 21px;
	line-height: 30px;
}
#section-7 .left p{
	color: #fff;
}
#section-7 .left a{
	color: #fff;
}
#section-7 .center p{
	color: #323333;
}
#section-7 .center a{
	color: #E84E4C;
}
#section-8 .top h1{
	font-family: 'SimHei';
	font-size: 21px;
	font-weight: normal;
	color: #323333;
}
#section-8 .top p{
	font-size: 12px;
	color: #aaa;
}
#section-8 .left h1{
	font-family: "SimHei";
	font-size: 14px;
	font-weight: normal;
	color: #231815;
}
#section-8 .left p,#section-8 .left a{
	font-family: 'SimSun';
	font-size: 12px;
	color: #231815;
}
#section-8 .right input,#section-8 .right textarea,#section-8 .right button{
	font-size: 12px;
	color: #231815;
}
#section-8 .right button{
	font-family: 'SimHei';
	font-size: 14px;
	color: #323333;
}

footer p,footer h1{
	color: #fff;
}
footer .jionus p{
	font-family: "SimSun";
	font-size: 12px;
}
footer .jionus h1{
	font-family: "SimHei";
	font-size: 21px;
	font-weight: normal;
}
footer input[type=text]{
	font-size: 12px;
	color: #aaaaaa;
}
footer input[type=submit]{
	font-size: 15px;
	letter-spacing: 10px;
	color: #fff;
}
footer .copyright p{
	line-height: 56px;
	font-family: 'SimSun';
	font-size: 12px;
}
footer .copyright p:first-child{
	float: left;
}
footer .copyright p:last-child{
	float: right;
}